/* CSS Document */

@charset 'UTF-8';

header {
}

nav {
	
}

footer {
	background-color: rgba(0, 32, 78, 1);
}

.disclaimer {
	font-size: 12px;
}

.social-links a {
	font-size: 30px;
	color: white;
	margin: 5px;
}

.social-links a:hover {
	color:#969696;
}

html {
	/* The image used */
  background-image: url("images/Car Photos;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test {
	opacity: 10%;
}